<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css" />
<div class="login-page">
  <div class="form">
    <h2>Welcome, <%= user %> back to the site</h2>
    <p><a href="/logout">Log out</a></p>
  </div>
</div>
